<h1 class="mt-3">Interes compuesto</h1>

<form action="/prestamo" method="post">
  <div class="form-group">
    <label for="monto">Monto </label>
    <input type="text" name="monto" id="monto" class="form-control">
  </div>
  <div class="form-group">
    <label for="tasaInteres">Tasa de interes (%)</label>
    <input type="text" name="tasaInteres" id="tasaInteres" class="form-control">
  </div>
  <div class="form-group">
    <label for="tiempo">Tiempo (Años)</label>
    <input type="text" name="tiempo" id="tiempo" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>