h1 class="mt-3">Tabla de retorno del préstamo</h1>

{{#if cuotas}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">periodo</th>
      <th scope="col">Deposito</th>
      <th scope="col">Interés</th>
      <th scope="col">saldo final</th>
     
    </tr>
  </thead>
  <tbody>
    {{#each cuotas}}
    <tr>
      <th scope="row">{{periodo}}</th>
      <th scope="row">{{monto}}</th>
      <th scope="row">{{tasaInteres}}</th>
      <th scope="row">{{coutaFinal}}</th>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}